<!DOCTYPE HTML>
<html>
<head>
<title>Flat Flash Contact Form Responsive Widget Template | Home :: w3layouts</title>
<link href="{{ url_for('static', filename='assets/css/style_for_form.css') }}" rel="stylesheet" type="text/css" media="all"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Flat Flash Contact Form  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,300,600,700' rel='stylesheet' type='text/css'>
<!--web-fonts-->
</head>
<body>
		<!---header--->
		<div class="header">
			<h1>Flash Contact Form</h1>
		</div>
		<!---header--->
		<!---main--->
			<div class="main">
				<div class="main-section">
				<div class="login-form">
					<h2>注册成功！清填写基本信息！</h2>
					<p>博客用户基本信息</p>
						<span></span>
					<form action="{{ url_for('user.user_form') }}" method="post">
						{{ forms.csrf_token }}
						{% for form in forms %}
							<h4> {% if form.label.text == "CSRF Token" %}

								  {% else %}
               						 {{ form.label }}
               						 {{ form }}
								<span style="color: red;">{{ form.errors.0 }}</span>

            					{% endif %}
							</h4>
						{% endfor %}
<!--						<h4>your name</h4>-->
<!--						<input type="text" class="user" placeholder="Johne" required="">-->
<!--						<h4>your phone number</h4>-->
<!--						<input type="text" class="phone" placeholder="0900.234.145678" >-->
<!--						<h4>your email address</h4>-->
<!--						<input type="text" class="email" placeholder="Example@mail.com">-->
<!--						<h4>your message</h4>-->
<!--						<textarea class="mess" placeholder="Message"></textarea>-->
						<input type="submit" value="提交">
					</form>
				</div>
				</div>
			</div>
			<div class="footer">
			<p>&copy 2016 Flat Flash Contact Form . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>

		<!---main--->
</body>
</html>